name: Build Electron App
on: [push] # Isso faz o GitHub trabalhar toda vez que você enviar código

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: |
          npm init -y
          npm install electron electron-builder --save-dev

      - name: Build EXE
        run: npx electron-builder --windows
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
