name: Build Electron App
on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: |
          npm init -y
          npm install electron electron-builder --save-dev

      - name: Build EXE
        run: npx electron-builder --windows
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: GhostPixelAI-App
          path: dist/*.exe  # Isso vai pegar o instalador que ele criou
